.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    background: rgba(255, 255, 255);
}


.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 50px;
}

.navbar-logo {
    display: flex;
    cursor: pointer;
}

.navbar-logo-image {
    height: 80px;
    width: auto;
    object-fit: cover;
    object-position: center;
}