.navbar {
    position: fixed;
    top: 0;
    /* Center horizontally */
    left: 50%;
    transform: translateX(-50%);

    /* Match the .landing-box approach */
    width: 1200px;
    padding: 0px 20px;
    height: 100px;
    z-index: 1000;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 50px;
}

.navbar-logo {
    display: flex;
    cursor: pointer;
}

.navbar-logo-image {
    height: 80px;
    width: auto;
    object-fit: cover;
    object-position: center;
}